body {
  font-family: "Meiryo","Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", sans-serif;
  background-color: #e4e4e4;
  color: #3F3F3F;
}

h1 {
  font-family: "Madimi One", sans-serif;
}

h2 {
  font-family: "Madimi One", sans-serif;
}

h3 {
  font-family: "Madimi One", sans-serif;
}